*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common style start */
.text-align{
    text-align: center;
}
.common-btn{
    background-color: #4E47FF;
    font-size: 16;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
}
.common-btn:hover{
    cursor: pointer;
    background-color: #0f0d4d;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  
}
.color-dark{
    color: #252432;
}
nav, 
.banner,
.productive-user,
.user-feedback {
    width: 80%;
    margin: 0 auto;
}
/* common style end */

/* header style */
header{
    max-width: 100%;
    background-image: url(./images/Hero-bg.png);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 155px;
    padding-top: 20px;
}
.logo{
    border-radius: 50%;
    width: 80px;
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}
.banner .banner-btn{
    margin-bottom: 150px ;
}
/* main action */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 116px auto;
}
.action-title{
    font-size: 42px;
    margin-bottom: 23px;
}
.action-sub-title{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #252432;
    margin-bottom: 23px;
}
.action-image{
    max-width: 400px;
    height: 330px;
    border-radius: 48px;
}
/* productive user */
.productive-user{
    background-color:#a19fdf6b;
    padding: 50px 0;
    border-radius: 20px;
}
.productive-user-title{
    font-size: 38px;
    margin-bottom: 38px;
}
.productive-info{
    display: flex;
    justify-content: space-around;
}
.user-feedback h1{
    font-size: 42px;
    /* font-weight: ; */
}
.users h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 80px;
  color: #4E47FF;
}
.users p{
    font-size: 20px;
}