*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common style start */
.text-align{
    text-align: center;
}
.common-btn{
    background-color: #4E47FF;
    font-size: 16;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
}
.common-btn:hover{
    cursor: pointer;
    background-color: #0f0d4d;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  
}
.color-dark{
    color: #252432;
}
nav, 
.banner,
.productive-user,
.user-feedback,
.touch-section{
    width: 80%;
    margin: 0 auto;
}
/* common style end */

/* header style */
header{
    max-width: 100%;
    background-image: url(./images/Hero-bg.png);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 155px;
    padding-top: 20px;
}
.logo{
    border-radius: 50%;
    width: 80px;
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}
.banner .banner-btn{
    margin-bottom: 150px ;
}
/* main action */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 116px auto;
}
.action-title{
    font-size: 42px;
    margin-bottom: 23px;
}
.action-sub-title{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #252432;
    margin-bottom: 23px;
}
.action-image{
    max-width: 400px;
    height: 330px;
    border-radius: 48px;
}
/* productive user */
.productive-user{
    background-color:#a19fdf6b;
    padding: 50px 0;
    border-radius: 20px;
}
.productive-user-title{
    font-size: 38px;
    margin-bottom: 38px;
}
.productive-info{
    display: flex;
    justify-content: space-around;
}
/* user feedback */
.user-feedback-card-container{
    display: flex;
    justify-content: space-between;
}
.user-feedback{
    margin: 125px auto 150px auto;
    background-color: #f3f3f3;
}
.user-feedback h1{
    font-size: 42px;
    margin-bottom: 50px;
}
.users h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 80px;
  color: #4E47FF;
}
.users p{
    font-size: 20px;
}
.user-feedback-card{
    border: 1px solid rgb(226, 226, 226);
    padding: 30px 25px;
    border-radius: 20px;
}
.stars{
    margin-bottom: 24px;
}
.card-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.card-sub-title{
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}
.review-info img{
    border-radius: 50%;
    margin-right: 12px;
}
.review-info h3{
    color: #757575;
    font-weight: 600;
}
.review-info{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.dark-lite{
    color: #B3B3B3;
}
.space{
    margin: 0 20px;
}
/* touch section */

.input-items label{
    display:block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.input-items input, textarea{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206); 
    background-color: #f3f3f3;
}
.input-items textarea{
    height: 135px;
    resize: none;
}
.input-items{
    margin-bottom: 20px;
}
.input-items 
#email,
#name{
    font-size: 20px;
    padding-left: 10px;
}
.input-items #text{
    font-size: 20px;
    padding: 20px 10px;
}
.touch-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.touch-section h1{
    font-size: 97px;
}
.touch-btn{
    width: 497px;
    height: 62px;
}
/* footer style */
.footer{
    width: 100%;
    background-color: #f3f3f3;
    margin-top: 120px;
    padding: 100px 0;
}
.footer-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.footer-content ul{
    display: flex;
    justify-content: center;
}

.footer-content ul li{
    list-style: none;
}
.footer-content ul li a{
    text-decoration: none;
    color: #8987A1;
    margin-right: 48px;
}

.footer .footer-img{
    margin-bottom: 30px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content p{
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #8987A1;
    margin-bottom: 20px;
}